<!DOCTYPE html>
<html ng-app="animalShelter">
  <head>
    <title>Animal Shelter</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="services/AnimalsFactory.js"></script>
    <script src="controllers/AdoptionsController.js"></script>
    <script src="controllers/AnimalsController.js"></script>
    <script src="controllers/EuthanasiaController.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" media="screen" charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container" ng-controller="AnimalsCtrl">
      <h1>Ron's Fuzzy Cuddle Animal Shelter Bar</h1>
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <h4>Search Animals</h4>
          <form role="form">
            <div class="form-group">
              <input type="text" ng-model="query.name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <select ng-model="query.type" class="form-control" placeholder="Type">
                <option value="">Animal Type</option>
                <option value="!null">All Animals</option>
                <option selected value="Dog">Dogs</option>
                <option value="Cat">Cats</option>
                <option value="Bird">Birds</option>
                <option value="Rabbit">Rabbits</option>
                <option value="Pig">Pigs</option>
              </select>
            </div>
            <div class="form-group">
              <select ng-model="query.ageCategory" class="form-control" placeholder="Age Category">
                <option value="">Age Category</option>
                <option value="!null">All Ages</option>
                <option value="Baby">Baby</option>
                <option value="Adult">Adult</option>
                <option value="Senior">Senior</option>
              </select>
            </div>
          </form>
          <h2>New Animal</h2>
          <form ng-submit="AnimalsFactory.addAnimal()" role="form">
            <div class="form-group">
              <label>Animal Name</label>
              <input type="text" ng-model="AnimalsFactory.animalName" class="form-control" placeholder="Name" required autofocus>
            </div>
            <div class="form-group">
              <label>Animal Type</label>
              <select ng-model="AnimalsFactory.animalType" class="form-control">
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
                <option value="Bird">Bird</option>
                <option value="Rabbit">Rabbit</option>
                <option value="Pig">Pig</option>
              </select>
            </div>
              <label>Animal Age</label>
            <div class="form-group">
              <input type="number" ng-model="AnimalsFactory.animalYears" min="0" max="25" placeholder="0" required>
              <label>years</label>
            </div>
            <div class="form-group">
              <input type="number" ng-model="AnimalsFactory.animalMonths" min="0" max="11" placeholder="0" required>
              <label>months</label>
            </div>
            <button type="submit" class="btn btn-primary">Add Animal</button>
          </form>
        </div>
        <div class="col-md-6 col-sm-6"></div>
        <div ng-controller="AdoptionsCtrl" class="col-md-3 col-sm-3">
        <div ng-controller="EuthanasiaCtrl">
            <h2 ng-show="animals.length && filtered.length">Animal List</h2>
            <h2 ng-show="animals.length && !filtered.length && !(adoptedAnimals.length + euthanisedAnimals.length === animals.length)">No Matches</h2>
            <ul>
              <li ng-repeat="item in filtered = (animals | filter:query | filter:query.ageCategory | filter:{adopted: false} | filter:{euthanised: false})">
                <label>Name: </label> {{item.name}} <label>Type: </label> {{item.type}} <br/>
                <label>Age: </label> {{item.years}} years {{item.months}} months <br/>
                <a ng-click="addAnimalToAdoptions(item)" class="btn btn-xs btn-success">Adopt</a>
                <a ng-click="addAnimalToEuthanasia(item)" class="btn btn-xs btn-danger">Euthanise</a>
              </li>
            </ul>
            <div ng-show="adoptedAnimals.length">
              <h2>Adopted Animals</h2>
              <ul>
                <li ng-repeat="item in adoptedAnimals = (animals | filter:{adopted: true})">
                  <label>Name: </label> {{item.name}} <label>Type: </label> {{item.type}} <br/>
                  <a ng-click="removeAnimalFromAdoptions(item)" class="btn btn-xs btn-danger">Unadopt</a>
                </li>
              </ul>
            </div>
            <div ng-show="euthanisedAnimals.length">
              <h2>Pending Pets-in-asia</h2>
              <ul>
                <li ng-repeat="item in euthanisedAnimals = (animals | filter:{euthanised: true})">
                  <label>Name: </label> {{item.name}} <label>Type: </label> {{item.type}} <br/>
                  <a ng-click="removeAnimalFromEuthanasia(item)" class="btn btn-xs btn-success">Hail Mary Save</a>
                </li>
              </ul>
            </div>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
